
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all-section{
    background-image: url(../assets/bg.png),linear-gradient( #ffff 0%, #ffff 100%);
    
}
header, menu , .story-container , .footer-section {
    max-width: 1200px;
    margin: 0 auto;
}

/* Shared style section */


.display-none{
    display: none;
}

.btn-primary{
    padding: 10px 40px;
    border-radius: 12px;
     background-color: black;
     border: none;
     font-size: 1rem;
     font-weight: 600;
     color:#FFFFFF;
     
 }
.btn-bg-color{
    background-color: #3CD8E8;
}
.btn-bg-color1{
    background-color: #95B226;
}
.btn-bg-color2{
    background-color: #5D58F0;
}
.orange-color{
    color: orange;
}

.skyblue-color{
    color: skyblue;
}

.skyblue-light-color{
    color: #05D4DF;
}
.beguni-color{
    color: #5D58EF;
}

.dark1{
    color:black;
}

.dark2{
    color: #202020;
}
.dark3{
    color: #808080;
}
.display-flex{
    display: flex;
}
.content-title-primary{
    font-size: 1.50rem;
    font-weight: 700;

}
.bg-color-primary{
    background-color:rgba(255, 255, 255, 1);
}



.display-none{
    display: none;
}


/* Nav section start */

.nav-container{
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.nav-icon-container{
    align-items: center;
    gap: 8px;
} 
.nav-icon-container img{
    width: 70%;
}

.content-title-primary{
    font-size: 2rem;
    font-weight: 700   ;
}
.nav-menu{
    list-style: none;
    gap: 32px;
}
.nav-menu li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    
}


.nav-btn{
    background-color: orange;
}

/* Banner style start */
.banner-title{
    font-weight: 700;
    font-size: 3.25rem;
}
.banner{ 
   
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

      
}

.banner-discription{
    
    margin-bottom: 20px;
}

.banner-img{
    width: 100%;
}
/* standard Curriculum Section */
.popular-cotainer{
    margin-top: 100px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
    position: relative;
    
    
}
.containt-title{
    grid-column: 1/4;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.card-inner{
    text-align: center;
    padding: 50px 40px;
}
.card-inner img{
    width: 50%;
}
.card-title{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}

.card{
max-width: 370px;
box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.05);

display: flex;
align-items: center;
justify-content: center;
}

.first-card{
    background: linear-gradient(#DEF5FF 0%, #FFFFFF 40%, #FFFFFF 60% );
}
.second-card{
    background: linear-gradient(#FFF4DC 0%, #FFFFFF 40%, #FFFFFF 60% );
}
.third-card{
    background: linear-gradient(#EEE1FF 0%, #FFFFFF 40%, #FFFFFF 60% );
}
.card-see-more-btn{
    font-family: 1rem;
    font-weight: 700;
    margin-top: 40px;
}

.standard-arrow{
    position: absolute;
    font-size: 2.5rem;
    font-weight: 700;
    bottom: -100px;
    left: 45%;
    right: 45%;
    color: orange;
}
/* our story section */
.story-backside{
    background-image: url(../assets/bg.png),linear-gradient( #f1c67cdc 0%, #ffff 100%);
   
   
}

.story-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 50px 0px;
}

.story-container{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    
    
}
.story-title{
    grid-column: 1/5;
    justify-self: center;
}
.story-big-div{
    grid-column: 1/3;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
    background: #FFFFFF;
}
.inner-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.story-div{
   max-width: 100vw;
    border-radius: 16px;
    background: #FFFFFF;
}
.inner-content{
    
    padding: 40px;
}
.img-div{
    position: relative;
}
.img-div img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.story-btn{
    padding: 10px 18px;
    position: absolute;
    left: 40px;
    bottom: -15px;
    font-weight: 500;
}

.story-bottom-btn{
    text-align: center;
    margin: 50px 0px;
}
/* footer section */
.max-width{
    max-width: 320px;
}
footer{
    background-color: #01ACFD;
    color: #FFFFFF;
}

.footer-section{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adu-img{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Responsive style section */

@media screen and (max-width: 576px) {
    .nav-icon-container > h1, .nav-menu, .nav-btn, .standard-arrow, .story-big-div{
        display: none;
    }

    .nav-container{
        padding-bottom: 10px;
        border-bottom: 1px solid orange;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
    }
    
    .banner{
        padding: 0px 10px;
    }

    .banner-content{
        text-align: center;
        
    }

    .nav-button img{
        display: inline-block;
        width: 50%;
    }

    /* standard section */
    .popular-cotainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* story container */

.story-backside{
    max-width: 100vw;
}
.story-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.story-btn{
    font-size: .6rem;
}
.story-title{
    grid-column: 1/3;
}
.img-div img{
    max-width: 100%;
}
.inner-content{
    padding: 20px 0px;
}

.story-div{
    margin: 0px 10px;
}
.inner-content h2{
    font-size: .5rem;
}
}

